/* Custom CSS */

.context-menu {
    -fx-background-color: #eee;
    -fx-border-color: #ccc;
    -fx-padding: 2 2 2 2;
    -fx-min-width: 160px;
}

#treeViewProfile .tree-cell .tree-disclosure-node .arrow {
    -fx-shape: null;
    -fx-background-color: null;
    -fx-background-image: null;
}

#treeViewProfile .tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-shape: null;
    -fx-background-color: null;
    -fx-background-image: null;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.property-pane {
    -fx-padding: 18 15 5 15;
}